* {
    box-sizing: border-box;
}

body.lock {
    overflow: hidden;
}

main {
    padding: 50px 5% 0 5%;
}

h1 {
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    font-size: 24pt;
    font-weight: 700;
}

.about {
    margin: 10px 0 10px 0;
}

.about * {
    margin: 0;
}

.about h4, .about h5 {
    font-family: 'Oswald', sans-serif;
    color: rgb(128, 128, 128);
}

a {
    font-family: 'Oswald', sans-serif;
    color: rgb(250, 118, 118);
}

a:hover {
    color: rgb(219, 0, 0);

}

h3 {
    font-size: 20pt;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

h4 {
    text-transform: uppercase;
    margin: 10px 0 10px 0;
    font-size: 17pt;
}

h5 {
    font-size: 13pt;
}

ul {
    margin: 10px 0 10px 0;
}

p {
    font-size: 13pt;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-align: justify;
}

article {
    margin: 20px 0 20px 0;
}

@media (max-width:767px) {
    li a {
        flex: 30% 0;
        font-size: 20pt;
        margin-bottom: 5px;
    }
}