@import './colors';

body {
    width: 100%;
    margin: 0;
    transition: ease-in 200ms;
}

a {
    font-family: 'Oswald', sans-serif;
    color: $light_blue;
    transition: ease-in 100ms;
}

a:hover {
    color: $dark_blue;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    @media (max-width: 414px) {
        max-width: 414px;
    }
}

//dark theme
body.dark {
    background-color: $darkest_blue;
}

body.dark a {
    color: white;
}

body.dark a:hover {
    color: $light_red;
}
