.card {
    height: 270px;
    width: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: solid 1px rgb(219, 0, 0);
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgb(250, 118, 118);
    background-color: white;
    transition: ease-in 100ms;
}

.card:hover {
    transform: scale(1.01);
}

.card__image {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    
}

.card__content {
    height: 70px;
    margin: 0 5px 0 5px;
    border-top: solid 1px rgb(250, 118, 118);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}