.mainboard {
    padding: 50px 50px 50px 50px;
    max-width: 1600px;
}

@media (max-width: 414px) {
    .mainboard {
        padding: 50px 20px 50px 20px;
    }
}

.about {
    margin: 0;
}

.about__title {
    position: relative;
    height: 250px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about__title h1,
.about__title h2 {
    z-index: 1;
    color: white;
}

.about img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    margin: 0 -50px 0 -50px;
    @media (max-width: 414px) {
        margin-left: -20px;
    }
    z-index: -1;
}

.sources {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.music {
    position: relative;
}

.music__content {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
}

.music__content .video {
    position: relative;
    flex: 530px;
    min-width: 300px;
    height: 240px;
    padding-right: 50px;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.music__content iframe:first-child {
    padding-left: 50px;
    @media (max-width: 414px) {
        padding-left: 20px;
    }
}

.music button {
    position: absolute;
    top: 42%;
    height: 50px;
    margin: 4px;
    width: 50px;
    z-index: 100;
    border-radius: 50%;
    background-color: white;
    border: solid 1px rgb(250, 118, 118);
    box-shadow: 1px 1px 5px rgb(250, 118, 118);
    font-size: 20px;
    color: rgb(250, 118, 118);
}

.music button:hover {
    color: rgb(219, 0, 0);
    border-color: rgb(219, 0, 0);
}

.button-left {
    left: 0;
}
.button-right {
    right: 0;
}
